
<p>
    <strong>Title:</strong>
    <%= @book.title %>
</p>

<p>
    <strong>Body:</strong>
    <%= @book.body %>
</p>
<!--editへのリンク-->
<%= link_to "Edit", edit_book_path(@book.id) %>
<!--backのリンク-->
<%= link_to "Back", books_path %>

